@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
	--sans: "Tiny5", sans-serif;
	--c-bg: black;
	--c-fg: white;
	--c-img-bg: #1c1c1c;
}
*, *::before, *::after{
    box-sizing: border-box; 
}
*{
    margin: 0; 
    padding: 0; 
}
body {
	font-family: var(--sans);
	color: var(--fg);
	background: var(--c-bg);
	margin: 0;
	line-height: 1.2;
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}
html:focus-within{
    scroll-behavior: smooth; 
}

a {
	text-decoration: none;
	color: var(--fg);
	transition: opacity 200ms;
}
a:not([class]){
    text-decoration-skip-ink: auto; 
}

a:hover {
	opacity: 0.8;
}