:root {
	font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue',
		ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--grey: #e2e2e2;
	--grey-hover: #f5f5f5;
	--grey-bg: #fbfbfb;
	--grey-light: #e8e7e7;
	--grey-text: #7c7c7c;
	--grey-stroke: #979797;
	--grey-stroke: #979797;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #f7f7f7;
	color: #000;
	font-family: sans-serif;
	line-height: 1.2;
}
header,
footer {
	margin: 0rem auto 2rem auto;
	max-width: 50rem;
}
footer {
}
main {
	padding: 1rem;
	position: relative;
}

@media (min-width: 380px) {
	header h1 {
		margin: 2rem auto;
	}
}

ul {
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0;
}

a {
	/* text-decoration: none; */
	color: inherit;
}

ul li a {
	border: none;
}

nav {
	z-index: 2;
	background: rgba(255, 255, 255, 1);
	position: absolute;
	left: 0;
	top: 0;
	margin: 1rem 0 0 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 0 1px 2px #00000054;
}

button a {
	text-decoration: none;
	border: none;
}

button {
	border: none;
	border-radius: 2px;
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	min-width: 60px;
	cursor: pointer;
	outline: 1px solid;
}
